<base-page>
    <slot name="header"></slot>
    <slot />
    <slot name="footer"></slot>
    <script>
        export default ()=> ({}) 
    </script>
    <style>
        :host {
            display: contents;
        }
    </style>
</base-page>